<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<mat-tab-group [dynamicHeight] = true>
    <mat-tab>
      <ng-template mat-tab-label>
        Sudoku
      </ng-template>
      <sudoku [applySudokuRules] = "true"></sudoku>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Futoshiki
      </ng-template>
      <sudoku [applySudokuRules] = "false"></sudoku>
    </mat-tab>
  </mat-tab-group>
  




